<% include partials/header.ejs %>
<div class="content-wrapper">
  <!-- <img id="name" src="img/title.png" alt="Title" /> -->
  <h1>iMapDB</h1>
  <form>
    <input type="text" id="search">
    <input type="submit" id="submit" value="Search">
  </form>
</div>
<div id="map"></div>
<% include partials/footer.ejs %>
